/* Home Page CSS */
html {
	background-color: #c6dde7;
}

.bold {
	font-weight: bold;
}

.content {
	background-color: #afccd8;

	margin: 80px 30px 30px;

	padding: 0 15px 15px;

	border: 1px ridge #002225;
	border-radius: 10px;
}

.header {
	text-align: center;
}
/* Page title and nav links */
nav {
	position: fixed;
	left: 0;
	top: 0;

	background-color: #232323;
	box-shadow: 0px 0px 10px black;
	width: 80%;
	opacity: 0.8;
	border-bottom-right-radius: 10px;
	font-family: "calibri";
}

.navdiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* page name and logo style */
.PageName {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-left: 10px;
	padding-left: 5px;
	padding-right: 15px;
}

.PageName img {
	width: 50px;
	height: 50px;
}

.PageName a {
	font-size: 35px;
	font-weight: 600;
	color: white;
}

/* links to pages style */
nav ul {
	display: flex;
	align-items: center;
	list-style: none;

	padding: 0;
	margin: 0;
}

nav li {
	margin-right: 5px;
	margin-left: 5px;

	padding-left: 5px;
	padding-right: 15px;
	border-radius: 5px;
}

nav li a {
	display: flex;
	align-items: center;
	gap: 5px;
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

nav li img {
	width: 40px;
	height: 40px;
}

/* hover styling */
nav:hover {
	opacity: 1;
}

nav li:hover {
	background-color: #404546;
}

nav li:hover a {
	color: #a5e4ff;
}

/* more legible lists */
.spacedlist li {
	margin-bottom: 7px;
}

/* links and important text */
.blue {
	color: rgb(6, 6, 75);
	font-weight: bold;
}

/* frog image on template page */
.frog {
	width: 150px;
	height: 150px;
}
