/* Home Page CSS */
html {
  text-decoration: none;
  background-color: antiquewhite;
}

.bold {
  font-weight: bold;
}
.content {
  background-color: #faebe6;
  padding-left: 10px;
  padding-left: 10px;
}

/* Page title and nav links */
.navbar {
  background-color: rgb(116, 41, 56);
  font-family: "calibri";
  padding: 10px;
}

/* allows different format for page name and nav links */
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.PageName {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageName img {
  width: 50px;
  height: 50px;
}

.PageName a {
  font-size: 35px;
  font-weight: 600;
  color: white;
}

/* Target only navbar lists */
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.navbar li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar li img {
  width: 40px;
  height: 40px;
}

.navbar li p {
  display: b;
}

.spacedlist li {
  margin-bottom: 7px;
}

.blue {
  color: rgb(6, 6, 75);
  font-weight: 750;
}

.frog {
  width: 150px;
  height: 150px;
}
