/* Home Page CSS */
html {
	text-decoration: none;
	background-color: #c6dde7;
}

.bold {
	font-weight: bold;
}

.content {
	background-color: #afccd8;
	padding-left: 10px;
	padding-left: 10px;
}

/* Page title and nav links */
nav {
	background-color: #232323;
	font-family: "calibri";
	padding: 10px;
}

/* allows different format for page name and nav links */
.navdiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.PageName {
	display: flex;
	align-items: center;
	justify-content: center;
}

.PageName img {
	width: 50px;
	height: 50px;
}

.PageName a {
	font-size: 35px;
	font-weight: 600;
	color: white;
}

/* Target only navbar lists */
nav ul {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: flex;
	align-items: center;
	margin-right: 25px;
}

nav li a {
	color: white;
	font-size: 18px;
	font-weight: bold;
}

nav li img {
	width: 40px;
	height: 40px;
}

nav li p {
	display: b;
}

.spacedlist li {
	margin-bottom: 7px;
}

.blue {
	color: rgb(6, 6, 75);
	font-weight: 750;
}

.frog {
	width: 150px;
	height: 150px;
}
